h1{
    font-size: 30px;
    padding-bottom: 30px;
}
.Home{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .Home{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .Home{
        align-items: center;
    }
}