.create-form {
    max-width: 550px;
    padding-bottom: 30px;
    padding-left: 0px;
    flex: 1;
  }
  
  .page-title {
    font-size: 30px;
  }
  
  .create-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
  }
  
  .image-container {
    width: 45%; 
    padding-top: 10%;
    text-align: center; 
  }
  
  .image-container img {
    max-width: 100%; 
  }
  